/* VARIABLES */

:root{
    --FONT:'Sono', sans-serif;
}

body{
    background-image: url(https://i.pinimg.com/originals/4a/a9/9b/4aa99b6ad2d2cbc7cb04a41571885a8f.jpg)
}

/* header CSS code */

header {
    text-align: center;
}

header img{
    height: 300px;
    width: 500px;
    border: 10px double white;
    border-radius: 100px; 
}

header h1{
    color: white;
    font-family: var(--FONT);
}

/* main CSS code */

main h2{
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    font-family: var(--FONT);
}

main p{
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    font-family: var(--FONT);
}

main li{
    color: white;
    font-family: var(--FONT);
}

main a{
    background-color: rgba(0, 0, 0, 0.500);
    color: yellow;
}

main li {
    list-style-type: upper-roman;
    margin-top: 0.5rem;
}

main ul{
    list-style-type: upper-roman;
}