/* VARIABLES */

:root {
    --FONT:'Sono', sans-serif;
    --BG-COLOR: rgba(0, 0, 0, 0.500);
}


body{
    background-image: url(https://i.pinimg.com/originals/4a/a9/9b/4aa99b6ad2d2cbc7cb04a41571885a8f.jpg);
}


/*|| header CSS code*/

header p {
    color: white;
    font-family: var(--FONT);
    text-align: center;
    background-color: var(--BG-COLOR);
    text-decoration: underline;
}

header img {
    width: 1300px;
    height: 600px;
}

/*|| main CSS code */

.maincontainer {
    border: 10px solid white;
    background-color: var(--BG-COLOR);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
} 

.mainitem {
    display: flex;
    flex-direction: column;
    border: 10px solid yellow;
}

/*|| footer css code */
