/* VARIABLES */

:root{
    --FONT:'Sono', sans-serif;
    --H2-COLOR: yellow;
}

body{
    background-image: url(https://i.pinimg.com/originals/4a/a9/9b/4aa99b6ad2d2cbc7cb04a41571885a8f.jpg)
}

/* header CSS code */

header {
    text-align: center;
}

header img{
    height: 300px;
    width: 500px;
    border: 10px double yellow;
    border-radius: 100px; 
}

header h1{
    color: yellow;
    font-family: var(--FONT);
}

/* main CSS code */

.hr{
    border: 1px solid white;
}

main h2{
    background-color: rgba(0, 0, 0, 0.500);
    color: var(--H2-COLOR);
    font-family: var(--FONT);
}

main p{
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    font-family: var(--FONT);
    text-align: center;
}

main li{
    color: white;
    font-family: var(--FONT);
    list-style-type: upper-roman;
    margin-top: 0.5rem;
}

.li1{
    list-style-image: url('saber.png');
}

main a{
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
}

a:hover{
    background-color: yellow;
    color: black;
}
a:visited{
    color: grey;
}

/* footer css code */

footer{
    color: white;
    font-family: var(--FONT);
}

.nav-h2{
    color: yellow;
}

footer a{
    color: white;
}

footer li{
    list-style-type: upper-roman;
}

footer button{
    background-color: yellow;
}